################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/ConsoleApp2
/.vs/ConsoleApp2/CopilotIndices/17.13.439.2385
/.vs/ConsoleApp2/CopilotIndices/17.13.439.2385/CodeChunks.db
/.vs/ConsoleApp2/CopilotIndices/17.13.439.2385/CodeChunks.db-shm
/.vs/ConsoleApp2/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
/.vs/ConsoleApp2/CopilotIndices/17.13.439.2385/SemanticSymbols.db
/.vs/ConsoleApp2/CopilotIndices/17.13.439.2385/SemanticSymbols.db-shm
/.vs/ConsoleApp2/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
/.vs/ConsoleApp2/FileContentIndex
/.vs/ConsoleApp2/FileContentIndex/68696171-2c22-404c-a5f7-33ea0c03ee8f.vsidx
/.vs/Factorization/v17
/.vs/Factorization/v17/.wsuo
/.vs/Factorization/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/bin
/bin/Debug/net9.0
/bin/Debug/net9.0/ConsoleApp2.deps.json
/bin/Debug/net9.0/ConsoleApp2.dll
/bin/Debug/net9.0/ConsoleApp2.exe
/bin/Debug/net9.0/ConsoleApp2.pdb
/bin/Debug/net9.0/ConsoleApp2.runtimeconfig.json
/bin/Release/net9.0
/bin/Release/net9.0/ConsoleApp2.deps.json
/bin/Release/net9.0/ConsoleApp2.dll
/bin/Release/net9.0/ConsoleApp2.exe
/bin/Release/net9.0/ConsoleApp2.pdb
/bin/Release/net9.0/ConsoleApp2.runtimeconfig.json
/CFRAC.cs
/CFRAC2.cs
/obj
/obj/ConsoleApp2.csproj.nuget.dgspec.json
/obj/ConsoleApp2.csproj.nuget.g.props
/obj/ConsoleApp2.csproj.nuget.g.targets
/obj/Debug/net9.0
/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/obj/Debug/net9.0/apphost.exe
/obj/Debug/net9.0/ConsoleApp2.AssemblyInfo.cs
/obj/Debug/net9.0/ConsoleApp2.AssemblyInfoInputs.cache
/obj/Debug/net9.0/ConsoleApp2.assets.cache
/obj/Debug/net9.0/ConsoleApp2.csproj.BuildWithSkipAnalyzers
/obj/Debug/net9.0/ConsoleApp2.csproj.CoreCompileInputs.cache
/obj/Debug/net9.0/ConsoleApp2.csproj.FileListAbsolute.txt
/obj/Debug/net9.0/ConsoleApp2.dll
/obj/Debug/net9.0/ConsoleApp2.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0/ConsoleApp2.genruntimeconfig.cache
/obj/Debug/net9.0/ConsoleApp2.GlobalUsings.g.cs
/obj/Debug/net9.0/ConsoleApp2.pdb
/obj/Debug/net9.0/ref
/obj/Debug/net9.0/ref/ConsoleApp2.dll
/obj/Debug/net9.0/refint
/obj/Debug/net9.0/refint/ConsoleApp2.dll
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Release/net9.0
/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/obj/Release/net9.0/apphost.exe
/obj/Release/net9.0/ConsoleApp2.AssemblyInfo.cs
/obj/Release/net9.0/ConsoleApp2.AssemblyInfoInputs.cache
/obj/Release/net9.0/ConsoleApp2.assets.cache
/obj/Release/net9.0/ConsoleApp2.csproj.BuildWithSkipAnalyzers
/obj/Release/net9.0/ConsoleApp2.csproj.CoreCompileInputs.cache
/obj/Release/net9.0/ConsoleApp2.csproj.FileListAbsolute.txt
/obj/Release/net9.0/ConsoleApp2.dll
/obj/Release/net9.0/ConsoleApp2.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net9.0/ConsoleApp2.genruntimeconfig.cache
/obj/Release/net9.0/ConsoleApp2.GlobalUsings.g.cs
/obj/Release/net9.0/ConsoleApp2.pdb
/obj/Release/net9.0/ref
/obj/Release/net9.0/ref/ConsoleApp2.dll
/obj/Release/net9.0/refint
/obj/Release/net9.0/refint/ConsoleApp2.dll
