name: DocFX-Dokumentation

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Code auschecken
        uses: actions/checkout@v4

      - name: .NET installieren
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: DocFX bauen
        run: |
          dotnet tool install -g docfx
          docfx docs/docfx.json

      - name: Daten fuer Deployment bereitstellen
      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs


  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Veroeffentlichen
        id: deployment
        uses: actions/deploy-pages@v4